* {
    margin: 0;
    padding: 0;
}

html {
    min-height: 100%;
    background: linear-gradient(rgb(166, 208, 255), rgb(242, 251, 255));
}

.body {
    background-color: #fff;
    overflow: hidden;
}
.rowbox{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.body p{
    text-indent:2em;
}